<template>
	<div class="hello">
 		<!-- aqui no hay nada que mostar -->
	</div>
</template>

<script>

</script>

<script>
export default {
	// Función mounted se ejecuta automáticamente al cargar el componente
	mounted: function(){
		var options = { method: 'GET',
						url: 'https://shaker.qi-cms.com/api/get/object/id/20',
						mode: 'no-cors',
						headers: 
							{ 'Cache-Control': 'no-cache',
							Authorization: 'Basic am9zaEBzdHVkaW9hbmFsb2dvdXMuY29tOlNoYWtlcnNPY3QyMDE3',
							'Postman-Token': 'bafcd749-54ef-4c9e-4c58-69e99e5057b5' } };

		const request = require("request");

		// URL de la API y el objeto con ID 10
		const url =  "https://shaker.qi-cms.com/api/get/object/id/20";

		// Request a la API
		request.get(options, (error, response, body) => {
			// Aqui capturar la respuesta en body, en imprimir en el console.log
			console.log(body);
		});
	}
}
// Credenciales
// josh@studioanalogous.com
// ShakersOct2017
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}
ul {
	list-style-type: none;
	padding: 0;
}
li {
	display: block;
	margin: 0 10px;
}
a {
	color: #42b983;
}
</style>
